.navbar{
    background-color: dodgerblue;
    margin-bottom: 40px;
}

.card{
    border-radius: 0%;
    border: 0px;
    
    
}

/* input{
    width: 500px;
    margin-right: 50px;
}

button{
    margin-right: 400px;
} */